<div class="character_card">
    <img src="{{{ image }}}" alt="Image Personnage">
    <h2 class="character__name">{{{ name }}}</h2>
    <div class="status"><div class="color-status"><div class="pulse color-pulse"></div></div><p class="js-status">{{{ status }}}</p></div>
    <p><span>Gender:</span> {{{ gender }}}</p>    
    <p><span>Species:</span> {{{ species }}}</p>
    <p><span>Origin:</span> {{{ origin }}}</p>
</div>